

body {margin: 0}

.header {
  background-image: url(../first-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.header-container {
  border: 2px dashed blue;
  border-top: 0;
  height: 506px;
  width: 930px;
  margin: auto;
}
.header-logo {
  border-bottom: 2px dashed blue;
  height: 69px;
  width: 930px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.header-menu {height: 100%;
width: 100%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
color: white;
font-family: arial;}



.header-title {
  text-align: center;
}

.header-title h2 {
  margin-top: 180px;
  color: white;
  font-family: arial;
  font-size: 40px;
  margin-bottom: 0px;
}

.header-title h1 {
  color: white;
  font-family: arial;
  font-size: 75px;
  margin-top: 15px;
  font-weight: bold;
}
