/* 

Клик по ссылкам в шапке должен переносить на соответствующие разделы страницы.
При клике на лого должен происходить переход в самый верх страницы.
+
пофиксить расположение картинок */


@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto.ttf);
}

.container {
  width: 1219px;
  padding: 44px 55px;
  margin: auto;
}

body {
  margin: 0;
}

.header-fix {
  background-color: #007765;
  height: 44px;
  width: 100%;
  display: flex;
  position: fixed;
 
}

.header-fix-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-fix-menu {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-fix-menu span {
  color: white;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.header-main {
  display: flex;
  background-image: url(img/image.png);
  width: 100%;
  height: 202px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
}

.main1-text {
  background-color: #eeeeee;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  padding: 24px 30%;
}

.main1-text h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #007765;
  margin-top: 0;
}

.main1-text p {
  margin-top: 30px;
}

.main2-image {
  background-image: url(img/image-1.png);
  width: 100%;
  height: 240px;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main3-text {
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  padding: 24px 30%;
}

.main3-text h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #007765;
  margin-top: 0;
}
.main3-text img {
  float: left;
  margin: 0px 10px 10px 10px;
}

.main4-team {
  background-color: #eeeeee;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
}
.main4-team-flex-line1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}
.main4-team-flex-line2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;}
.main4-team h2{
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #007765;}
 
.main4-team h3 {color:  #007765; font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0%
  }

  .main4-team figure {text-align: center}
  .main4-team em {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;}
    .main4-team caption {text-align: center}

.main4-team img {
  margin: 0px;
  width: 150px;
  height: 150px;
}

footer {background-color: #333333;
width: 100%;
height: 176px;
display: flex;
justify-content: center;
align-items: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #ffffff}
